{% extends "base.html.twig" %}

{% block h1 %}Ajouter une ville{% endblock %}

{% block body %}

{{form_start(ville)}}

     {{ form_row(ville.name)}}
     {{ form_row(ville.temperature)}}
     {{ form_row(ville.temps)}}

     <button type="submit">Enregistrez</button>

{{ form_end(ville)}}




{% endblock %}